.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popupText {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.popup .popupText {
    visibility: hidden;
    width: 300px;
    height: 1000px;
    background-color: #606c5d;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px 0;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: -4px;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.filterPopup {
    width: 240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

fieldset label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    color: #f7e6c4;
    gap: 6px;
}

.sittingList {
    color: #f1c376;
    margin-bottom: 10px;
}

.sittingList svg {
    width: 28px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    appearance: none;
    background: none;
    border: solid 1px #f1c376;
    border-radius: 5px;
}

.priceField {
    display: flex;
    flex-direction: column;
}

.priceTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #f1c376;
    gap: 5px;
    font-size: 13px;
}

.priceTitle svg {
    width: 28px;
    height: 28px;
}

.priceRec {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 240px;
}

.dollars {
    font-size: 16px;
    border: solid 1px #f1c376;
    height: 40px;
    width: 95px;
    color: #f7e6c4;
    padding-top: 12px;
    box-sizing: border-box;
}

.locationField {
    display: flex;
    flex-direction: column;
}

.locationList {
    color: #f1c376;
    margin-bottom: 10px;
}

.locationList svg {
    width: 28px;
}

.more {
    margin-top: 10px;
    text-align: start;
}

.more a {
    font-size: 10px;
    color: #f1c376;

    cursor: pointer;
}

.ri-add-line {
    color: #f1c376;
}

.cuisineField {
    display: flex;
    flex-direction: column;
}

.cuisineList {
    color: #f1c376;
    margin-bottom: 10px;
}

.cuisineList svg {
    width: 28px;
}

.reviewField {
    display: flex;
    flex-direction: column;
}

.reviewList {
    color: #f1c376;
    margin-bottom: 10px;
}

.reviewList svg {
    width: 28px;
}

.hoursField {
    display: flex;
    flex-direction: column;
}

.hoursList {
    color: #f1c376;
    margin-bottom: 10px;
}

.hoursList svg {
    width: 28px;
}